.login-form {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.login-form label {
  margin-top: 10px;
}

.login-form input {
  width: 200px;
  height: 30px;
  margin-bottom: 10px;
}

.login-form button {
  background-color: #f44336;
  width: 100px;
  margin-top: 10px;
}
