h2 {
  text-align: center;
}

.introduction {
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 80px;
  position: absolute;
  margin: 0;
}

.timeline-connector {
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
  height: 2px;
  background-color: red;
  z-index: -1;
}

.timeline-event {
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  left: 1.3rem;
  border-radius: 50%;
  background-color: #f44336;
  cursor: pointer;
}

.event-date {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.event-details {
  display: flex;
  margin-top: 20px;
  position: relative;
  top: 100px;
  left: -0%;
}

.event-details-content {
  display: flex;
  align-items: normal;
}

.event-image img {
  width: 800px;
  height: auto;
  margin-right: 20px;
}
.event-description {
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 1rem;
}

.event-description-election-selection-button {
  color: #fff;
  background-color: #f44336;
  padding: 8px;
  margin: 2px;
}

.event-description p {
  color: #333;
  text-align: left;
}

@media (max-width: 768px) {
  .event-details-content {
    flex-direction: column;
  }

  .event-image img {
    order: 1;
    width: 100%;
    margin-bottom: 1rem;
  }

  .event-description {
    order: 2;
  }
}
