/* .maps-page-container {
  display: flex;
  flex-direction: row;
}

.map-collector {
  display: flex;
  flex-wrap: wrap;
  max-height: 100vh;
  overflow-y: auto;
  max-width: 90%;
  margin: 8px;
} */
